{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./app/config",
          "controllers": "./app/controllers",
          "models": "./app/models",
          "routes": "./app/v1/routes"
        }
      }
    ]
  ]
}
